/*  O R I G I N E L E  S T A T E  */

* {
    cursor: default;
    /*    scroll-behavior: smooth;*/
}

body {
    background-color: #ecedea;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

body.heleBody {
    transition-property: background-color;
    transition-property: filter;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

body > svg.heleKruis {
    z-index: 1;
    height: 45em;
    transition: ease;
    transform: rotate(0deg);
}

.st0 {
    fill: #D81416;
    transition-property: fill;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.st1 {
    fill: #F18400;
    transition-property: fill;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.st2 {
    fill: #FCE900;
    transition-property: fill;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.st3 {
    fill: #318A35;
    transition-property: fill;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.st4 {
    fill: #09101C;
    transition-property: fill;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}




/*  A L L E  B L O K K E N  I N L A D E N  */

svg > g:nth-of-type(4) {
    opacity: 0;
    animation: appearEen;
    animation-delay: 0s;
    animation-duration: 100ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes appearEen {
    0% {
        opacity: 0;
        transform: translateY(-45em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

svg > g:nth-of-type(3) {
    opacity: 0;
    animation: appearEen;
    animation-delay: 100ms;
    animation-duration: 100ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes appearTwee {
    0% {
        opacity: 0;
        transform: translateY(-45em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

svg > g:nth-of-type(2) {
    opacity: 0;
    animation: appearEen;
    animation-delay: 200ms;
    animation-duration: 100ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes appearDrie {
    0% {
        opacity: 0;
        transform: translateY(-45em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

svg > g:nth-of-type(1) {
    opacity: 0;
    animation: appearEen;
    animation-delay: 300ms;
    animation-duration: 100ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes appearVier {
    0% {
        opacity: 0;
        transform: translateY(-45em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

svg > g:nth-of-type(6) {
    opacity: 0;
    animation: appearEen;
    animation-delay: 400ms;
    animation-duration: 100ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes appearVijf {
    0% {
        opacity: 0;
        transform: translateX(-25em)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

svg > g:nth-of-type(5) {
    opacity: 0;
    animation: appearEen;
    animation-delay: 400ms;
    animation-duration: 100ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes appearZes {
    0% {
        opacity: 0;
        transform: translateX(25em)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}




/*  K E Y D O W N "I":  I N V E R T  */

.invert {
    filter: invert(100%);
    background-color: #3C3C3B;
    transition-property: background-color;
    transition-property: filter;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}




/*  B U T T O N S  */

body > button {
    z-index: 2;
    position: absolute;
    margin-top: -7.4em;
    background: #F18400;
    padding: 1em 1em;
    color: #09101C;
    font-family: "Montserrat";
    font-style: bold;
    text-transform: uppercase;
    border-color: #D81416;
    border-style: solid;
    border-width: 6px;
    transition-property: border-color;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    opacity: 0;
    animation: appearButtons;
    animation-delay: 600ms;
    animation-duration: 100ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes appearButtons {
    0% {
        opacity: 0;
        transform: translateX(-25em);
    }

    100% {
        opacity: 1;
        transform: translateX(0em);
    }
}

body > button.rechts {
    margin-left: -48em;
}

body > button.links {
    margin-left: -43em;
}


body > button:hover {
    background: #FCE900;
    border-color: #318A35;
    transition-property: border-color;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    cursor: pointer;
}

body > button:focus {
    background: #FCE900;
    border-color: #318A35;
}




/*  H O L Y  S T A T E  */

.st0holy {
    fill: #FDCD00;
    transition-property: fill;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.st1holy {
    fill: #F6F6F6;
    transition-property: fill;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.st2holy {
    fill: #FDE20B;
    transition-property: fill;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.st3holy {
    fill: #FDCD04;
    transition-property: fill;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.st4holy {
    fill: #FFFFFF;
    transition-property: fill;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.heleBodyHoly {
    background-color: white;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

svg.heleKruisHoly {
    animation: turnCrossUp;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes turnCrossUp {
    0% {
        margin-top: -1em;
    }

    50% {
        margin-top: 1em;
    }

    100% {
        margin-top: -1em;
    }
}




/*  E V I L  S T A T E  */

.st0evil {
    fill: #1D1D1B;
    transition-property: fill;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.st1evil {
    fill: #575756;
    transition-property: fill;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.st2evil {
    fill: #E30613;
    transition-property: fill;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.st3evil {
    fill: #3C3C3B;
    transition-property: fill;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.st4evil {
    fill: #1D1D1B;
    transition-property: fill;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

svg.heleKruisEvil {
    animation: turnCrossDown;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes turnCrossDown {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

.heleBodyEvil {
    background-color: #000000;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}




/*  R E S P O N S I V E  */

/* Tablet */
@media only screen and (max-width: 60em) {

    body > svg.heleKruis {
        margin-top: 1em;
    }

    body > button {
        margin-top: 70em;
        left: 33em;
    }

    body > button.rechts {
        margin-left: -2.5em;
    }

    body > button.links {
        margin-left: 2.5em;
    }

}

/* Telefoon */
@media only screen and (max-width: 40em) {

    body {
        background-color: violet;
    }

    body > svg.heleKruis {
        margin-top: 1em;
        height: 25em;
    }

    /*
    body.heleBody.invert > button.links {
        margin-left: 2.5em;
        margin-top: -3em;
        bottom: -6.8em;
    }

    body.heleBody.invert > button.rechts {
        margin-left: -2.5em;
        margin-top: -3em;
        bottom: -6.8em;
    }
*/

    body > button {
        margin-top: 18em;
        left: 12.5em;
    }

    body > button.rechts {
        margin-left: -2.5em;
    }

    body > button.links {
        margin-left: 2.5em;
    }
}
